html{
    font-size: 10px;
}
h1{
    font-size: 3.5rem;
    margin: 3rem 0 3rem 0;
}
#d1{
    height: auto;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow:1px 1px 10px 1px rgb(78, 75, 75);
    padding:2rem;
    text-align: justify;
    font-family:crimson;
    word-spacing: 3px;
    margin:2rem 1rem 0 1rem;
}
#d1 h1{
    margin: 1rem 0 1rem 0;
}
#d2{
    height: auto;
}
#d21,#d22{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: .5s;
}
.team{
    height:420px;
    width: 350px;
    box-shadow:1px 1px 10px 1px rgb(78, 75, 75);
    margin-top: 5rem;
    transition: .5s;
    line-height: 38px;
    margin-left: 3rem;
}
.team img{
    width: 350px;
    height: 70%;
}
h2{
    font-size: 23px;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 18px;
    color: red;
}
#x,#y{
    width: 60%;
    height: 35rem;
    border: 1px solid black;
    font-size: 2rem;
    transition: .5s;
    border-radius: 10px;
    /* margin-top: 4rem; */
}
#y{
    margin-left: 40%;
}
#x1,#x2,#y1,#y2{
    height: 3rem;
    border: 1px solid rgb(78, 9, 205);
    width: 60%;
    margin-left:20%;
    border-top:hidden;
}
#x1{
    border-right:hidden;
}
#x2{
    border-bottom:hidden;
    border-left:hidden;
}
#y1{
    border-left:hidden;
}
#y2{
    border-bottom:hidden;
    border-right:hidden;
}
#x div,#y div{
    float: left;
    height: 100%;
}
#xl,#yr{
    width: 40%;
}
#xr,#yl{
    width: 60%;
}
#d3 img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
@media(max-width:998px){
    html {
        font-size: 55%;
    }
    #x,#y{
        width: 80%;
    }
    #y{
        margin-left: 20%;
    }   
}
@media(max-width:768px){
    html {
        font-size: 45%;
    }
    #x,#y{
        width: 90%;
    }
    #y{
        margin-left: 10%;
    } 
}