.d1{
    width: 13rem;
    position: absolute;
    display: block;
    text-align: center;
    border-radius: 0.5rem; 
}
.d2{
    padding: 0.8rem;
    margin-left: 18rem;
    width: 75%;
    height: 40rem;
    margin-top: 0.8rem;
}
ol:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.516);
    width:75rem;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.2rem;
    background-color: #484848;
  }
    li{
      font-size: 1.2rem;
    }           
  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 1rem;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #2d2d2d;
    border-radius: 0.5rem;
  }
p{
    width: 85%;
    font-size: 1.1rem;
    margin-left: 3rem;
    padding: 1.5rem;
    position: relative;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
 /* body{
  width: auto;
    flex-wrap: wrap;
    justify-content: center;
} */
div:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.516);
}
p:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.516);
    width: 85%;
}
h1{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    font-family: monospace;
    color: #4a4a4a;
}
h2{
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 3rem;
}
@media (max-width:998px){
    html{
      font-size: 55%;
    }
  }
  @media (max-width:768px){
    html{
      font-size: 55%;
    }
  }