html{
    font-size: 10px;
}
body{
    background-color: rgb(153, 228, 232);
}
h1{
    text-align: center;
    font-size: 4rem;
    position: sticky;
    top: 0;
    background-color: rgb(219, 213, 213);
}
h2{
    font-size: 2.5rem;
    text-align: center;
}
#main{
    max-width: 120.4rem;
    padding-right: 1rem;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}
#left,#right{
    margin: auto;
    height: 45rem;
    width: 58rem;
    border: 1px solid black;
    margin-top:3rem;
}
#left{
    border: 1px solid black;
}
table{
    margin-top: -2rem;
    height: 40rem;
    width: 58rem;
    margin-left: 1rem;
    font-size: 2rem;
    padding-right: 2rem;
}
#t1,#t2,#t3,#t4{
    width: 27rem;
    height: 4rem;
    border-radius: .5rem;
    padding-left: 2rem;
    font-size: 2rem;
}
#t1,#t2,#t5{
    text-transform: capitalize;
}
#t5{
    width: 56rem;
    height: 10rem;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 2rem;
    resize: none;
    font-size: 2rem;
}
iframe{
    height: 45rem;
    width: 58rem;
    border: none;
}
#bottom{
    flex-wrap: wrap;
    display: flex;
    max-width: 120rem;
    margin: auto;
    padding-bottom: 5rem;
}
#l,#r{
    width: 60rem;
    margin: auto;
    display: flex;
}
#i1,#i2,#i3,#i4{
    margin-top: 2.5rem;
    font-size: 4rem;
}
#i1,#i3{
    color: blue;
}
#i2{
    margin-left: 20rem;
    color: rgb(241, 207, 36);
}
#i3{
    margin-left: 27rem;
}
#i4{
    color: green;
}
#bottom label{
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 3.3rem;
    position: absolute;
}
#b1{
    height: 4rem;
    width: 15rem;
    border-radius: 2rem;
    background-color: green;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}
#b1:hover{
    background-color: blue;
    transition: .5s;
}
a{
    text-decoration: none;
}
a:hover{
    color: green;
}
@media (max-width:998px) {
    html{
        font-size: 55%;
    }
}
@media (max-width:768px) {
    html{
        font-size: 45%;
    }
}