html{
    font-size: 10px;
}
#main{
    /* border: 1px solid black; */
    height: auto;
    justify-content: space-around;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: normal;
    /* height: 80vh; */
    position: relative;
    /* overflow-y: scroll; */
}
#main h1{
    background-color: white;
    text-align: center;
    font-size: 4rem;
}
#main h2{
    text-align: center;
    font-size: 2rem;
    width: 100%;
    margin-top: 2rem;
}
#main #filter{
    position: absolute;
    top: 1%;
    /* z-index: -1; */
    height: 60rem;
    width: 35rem;
    background-color: #F5F5F5;
    background-image: url(one.avif);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}
#main #s1,#main #s2{
    width: 80%;
    height: 3.5rem;
    margin:2.5rem 10%;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}
#c1,#c2,#c3{
    margin-left: 15%;
    cursor: pointer;
}
#l1,#l2,#l3{
    cursor: pointer;
    font-size: 2rem;
    margin-left: 5%;
}
#p{
    margin-left: 12%;
    font-size: 2.2rem;
}
#range{
    margin-left: 15%;
    width: 65%;
    cursor: pointer;
}
#pp{
    text-align: center;
}
#b1{
    height: 3.5rem;
    width: 20rem;
    background: blue;
    color: white;
    border-radius: .5rem;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    outline: none;
}
#b1:hover{
    background: rgb(91, 178, 193);
    transition:.3s ;
}
#intern{
    margin-left: 45rem;
    width: 55%;
    margin-top: 3rem;
    line-height: 3rem;
    overflow-y: scroll;
    height: 80vh;
    /* border: 2px solid red; */
}
#d1{
    height: auto;
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 2rem;
    background: rgb(232, 242, 249);
    background-image:url(one.avif);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px; */
}
#manu{
    font-size: 4rem;
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    margin: 0 0 0 85%;
}
#d1{
    padding-top: 3rem;
}
#d1 p{
    margin-left: 5rem;
    font-size: 2rem;
}
#main i{
    color: rgb(98, 98, 243);
}
#x{
    position: relative;
}
img{
    float: right;
    height: 8rem;
    width: 8rem;
    margin-right: 3rem;
    z-index: 1;
    border-radius: 1.1rem;
}
#p1{
    text-align: center;
}
#b2{
    height: 3rem;
    width: 13rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .1rem solid black;
    cursor: pointer;
    color: white;
    background-color: blue;
}
@media(max-width:998px){
    html {
        font-size: 55%;
    }
    #filter{
        width: 30rem;
    }
    #intern{
        width:55%;
        margin-left: 43%;
    }
}
@media(max-width:768px){
    html {
        font-size: 45%;
    }
    #intern{
        width: 90%;
        margin-left: 5%;
        margin-top: 10rem;
    }
    #filter{
        width: 25rem;
        margin-top: 1rem;
        z-index: -1;
    }
    #manu{
        visibility: visible;
    }
    .xyz{
        z-index: -1;
        transform: translate(-115%);
    }
}